Repository ningenMe/zeus, pull requests merged in 2022-05, with the labels that each got.

#18 add openapi
  .github/labeler.yaml
  .github/workflows/ci.yaml
  .gitignore
  README.md
  build.gradle.kts
  lombok.config
  openapi/openapi.yaml
  openapi/paths/Health.yaml
  openapi/responses/HealthGetResponse.yaml
  zeus/api/.openapi-generator-ignore
  zeus/api/build.gradle.kts
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/controller/HealthController.kt
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/generated/controller/ApiUtil.kt
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/generated/controller/Exceptions.kt
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/generated/controller/HealthApi.kt
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/generated/view/HealthGetResponseView.kt
  zeus/api/src/main/kotlin/ningenme/net/zeus/application/usecase/HealthGetUsecase.kt
  zeus/api/src/test/kotlin/ningenme/net/zeus/ApiApplicationTests.kt
Labels: api, ci

#20 add log
  build.gradle.kts
  zeus/api/src/main/resources/logback-spring.xml
  zeus/domain/src/main/kotlin/ningenme/net/zeus/domain/service/HealthService.kt
Labels: api, domain

#21 fix tool
  build.gradle.kts
  zeus/infrastructure/tool/comicme-mysql/schema.sql
  zeus/infrastructure/tool/compro-mysql/schema.sql
  zeus/infrastructure/tool/docker-compose.yaml
  zeus/infrastructure/tool/ningenme-mysql/schema.sql
Labels: infrastructure

#23 add default
  zeus/api/src/main/resources/application.yaml
Labels: api
